
export PATH=$PATH:$(go env GOPATH/bin)
export GOPATH=$(go env GOPATH)
export PATH=~/Library/Python/3.7/bin:$PATH
export GOPRIVATE=github.com/shotesmagotes/*

export PATH=/usr/local/anaconda3/condabin:$PATH
